    <article class="movie">
      <div class = "content">
        <p>User Name: {{movies.[0].user.username}}</p>
        <p>Movies: {{movies.length}}</p>
        {{!-- <a href="/dashboard/edituser">edit my info</a> --}}
        </div>
    </article>