<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="icon" type="image/favicon" href="./assets/images/paf-favicon.ico">
    <link rel="stylesheet" href="../../assets/stylesheets/style.css" />
    <title>Pic-A-Flick</title>
    
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        Pic-A-Flick
      </h1>
        <nav>
          <a href="/">Home</a>
          {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>