<h1 class="text-center" id="genre-headline">TOP COMEDY MOVIES EVER MADE (Listed Alphabetically. Also, Don't @ us)</h1>

<main class="genrePages">
    <section class="row no-gutters movie-sections" id="anchorman-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/comedies/anchorman.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" value="anchorman" name="choice" id="choice-anchorman">
                <label class="vote-label" for="choice-anchorman">
                    Vote
                </label>
        </div>
        <h2 class="col-3 movie-titles">Title:<br /><br />Anchorman: The Legend of Ron Burgundy</h2>
        <div class="col-1"></div>
        <p class="col-3 movie-descriptions">Description:<br /><br />Anchorman: The Legend of Ron Burgundy is a 2004 American satirical comedy film directed by Adam McKay in his directorial debut, produced by Judd Apatow, starring Will Ferrell, and written by McKay and Ferrell. The first installment in the Anchorman series, the film is a tongue-in-cheek take on the culture of the 1970s, particularly the new Action News format. It portrays a San Diego television station where Ferrell's title character clashes with his new female counterpart. </p>
    </section>

    <section class="row no-gutters movie-sections" id="comingToAmerica-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/comedies/coming-to-america.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="choice" value="coming-to-america" id="choice-coming-to-america">
                <label class="vote-label" for="choice-coming-to-america">
                    Vote
                </label>
        </div>
        <h2 class="col-3 movie-titles">Title:<br /><br />Coming to America</h2>
        <div class="col-1"></div>
        <p class="col-3 movie-descriptions">Description:<br /><br />Coming to America is a 1988 American romantic comedy film directed by John Landis and based on a story originally created by Eddie Murphy, who also stars in the lead role. The film also co-stars Arsenio Hall, James Earl Jones, Shari Headley, and John Amos. The film was released in the United States on June 29, 1988. Eddie Murphy plays Akeem Joffer, the crown prince of the fictional African nation of Zamunda, who travels to the United States in the hopes of finding a woman he can marry.</p>
    </section>

    <section class="row no-gutters movie-sections" id="getYouSucka-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/comedies/get-you-sucka.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="choice" value="get-you-sucka" id="choice-get-you-sucka">
                <label class="vote-label" for="choice-get-you-sucka">
                    Vote
                </label>
        </div>
        <h2 class="col-3 movie-titles">Title:<br /><br />I'm Gonna Git You Sucka</h2>
        <div class="col-1"></div>
        <p class="col-3 movie-descriptions">Description:<br /><br />I'm Gonna Git You Sucka is a 1988 American blaxploitation parody film written, directed by, and starring Keenen Ivory Wayans in his feature film directorial debut. Featured in the film are several noteworthy African-American actors who were part of the genre of blaxploitation: Jim Brown, Bernie Casey, Antonio Fargas, and Isaac Hayes. Other actors in the film are Kadeem Hardison, Ja'net Dubois, John Witherspoon, Damon Wayans, Clarence Williams III, and Chris Rock. The film is also the film debut of comedian Robin Harris, who appears as a bartender.</p>
    </section>

    <section class="row no-gutters movie-sections" id="oBrother-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/comedies/o-brother.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="choice" value="oBrother" id="choice-oBrother">
                <label class="vote-label" for="choice-oBrother">
                    Vote
                </label>
        </div>
        <h2 class="col-3 movie-titles">Title:<br /><br />O Brother, Where Art Thou?</h2>
        <div class="col-1"></div>
        <p class="col-3 movie-descriptions">Description:<br /><br />O Brother, Where Art Thou? is a 2000 crime comedy-drama film written, produced, co-edited and directed by Joel and Ethan Coen, and starring George Clooney, John Turturro, and Tim Blake Nelson, with Chris Thomas King, John Goodman, Holly Hunter, and Charles Durning in supporting roles. The film is set in 1937 rural Mississippi during the Great Depression. Its story is a modern satire loosely based on Homer's epic Greek poem The Odyssey that incorporates social features of the American South.[9] The title of the film is a reference to the Preston Sturges 1941 film Sullivan's Travels, in which the protagonist is a director who wants to film O Brother, Where Art Thou?, a fictitious book about the Great Depression</p>
    </section>

    <section class="row no-gutters movie-sections" id="scaryMovie-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/comedies/scary-movie.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="choice" value="scary-movie" id="choice-scary-movie">
                <label class="vote-label" for="choice-scary-movie">
                    Vote
                </label>
        </div>
        <h2 class="col-3 movie-titles">Title:<br /><br />Scary Movie</h2>
        <div class="col-1"></div>
        <p class="col-3 movie-descriptions">Description:<br /><br />Scary Movie is a 2000 American black comedy slasher film directed by Keenen Ivory Wayans. The film is a parody of multiple genres including the horror, slasher, and mystery film genres. Several 1990s films and TV shows are also spoofed, and the script primarily follows the plot of slasher films Scream (1996) and I Know What You Did Last Summer (1997). The film has mixed reviews on Metacritic and grossed $278 million worldwide on a $19 million budget. The first installment in the Scary Movie film series, it was followed by four sequels</p>
    </section>

    <div class="justify-content-center">
        <button type="button" class="btn btn-primary vote-btn">Submit Vote</button>
    </div>
</main>