<h1 class="text-center" id="genre-headline">TOP 5 COMEDIES EVER MADE (Listed Alphabetically. Also, Don't @ us)</h1>

<main>
    <section class="row no-gutters" id="anchorman-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/comedies/anchorman.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Anchorman: The Legend of Ron Burgundy</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis molestiae suscipit repellendus expedita provident atque vero fugiat, sapiente similique praesentium soluta modi, tenetur hic quasi eligendi voluptatibus quia quisquam possimus.</p>
    </section>

    <section class="row no-gutters" id="comingToAmerica-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/comedies/coming-to-america.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Coming to America</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis molestiae suscipit repellendus expedita provident atque vero fugiat, sapiente similique praesentium soluta modi, tenetur hic quasi eligendi voluptatibus quia quisquam possimus.</p>
    </section>

    <section class="row no-gutters" id="getYouSucka-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/comedies/get-you-sucka.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />I'm Gonna Git You Sucka</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis molestiae suscipit repellendus expedita provident atque vero fugiat, sapiente similique praesentium soluta modi, tenetur hic quasi eligendi voluptatibus quia quisquam possimus.</p>
    </section>

    <section class="row no-gutters" id="oBrother-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/comedies/o-brother.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />O Brother, Where Art Thou?</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis molestiae suscipit repellendus expedita provident atque vero fugiat, sapiente similique praesentium soluta modi, tenetur hic quasi eligendi voluptatibus quia quisquam possimus.</p>
    </section>

    <section class="row no-gutters" id="scaryMovie-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/comedies/scary-movie.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Scary Movie</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis molestiae suscipit repellendus expedita provident atque vero fugiat, sapiente similique praesentium soluta modi, tenetur hic quasi eligendi voluptatibus quia quisquam possimus.</p>
    </section>

    <div class="justify-content-center">
        <button type="button" class="btn btn-primary">Submit Vote</button>
    </div>
</main>