<section class="row">
  <div class="column">
    <h2>Create New Movie</h2>

    <form class="new-movie-form">
      <div>
        <label for="movie-title">Title:</label>
        <input id="movie-title" name="movie-title" />
      </div>
      <div>
        <label for="genre-name">Genre:</label>
        <input id="genre-name" name="genre-name"></input>
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </div>
  <div class="column">
    <h2>About Me</h2>
    {{> user-info}}
  </div>
</section>

{{#if movies.length}}
<section>
  <h2>Your Movies</h2>
  <ol>
    {{#each movies as |movie|}}
    <li>
<<<<<<< HEAD
      {{> movie-info movie}}
      <a href="/dashboard/edit/{{movies.id}}" class="edit-link">Edit Movie</a>
=======
      {{> movie-info movies}}
      <a href="/dashboard/edit/{{movie.id}}" class="edit-link"> &nbsp; &nbsp; &nbsp; Edit Movie</a>
>>>>>>> 5b17cc77666d1b3eb657cc5fb0c03d2cad2e8ff0
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<<<<<<< HEAD
<script src="/javascript/add-movie.js"></script>
=======
<script src="/javascript/add-movie.js"></script> 
>>>>>>> 5b17cc77666d1b3eb657cc5fb0c03d2cad2e8ff0
