<h1 class="text-center" id="genre-headline">TOP Guilty Pleasures (Listed Alphabetically. Also, Don't @ us)</h1>

<main class="genrePages">
    <section class="row no-gutters" id="walk-to-remember-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/guilty-pleasures/walk-to-remember.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />A Walk To Remember</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />A Walk to Remember is a 2002 American coming-of-age romantic drama film directed by Adam Shankman and written by Karen Janszen, based on Nicholas Sparks' 1999 novel of the same name. The film stars Shane West, Mandy Moore, Peter Coyote and Daryl Hannah, and was produced by Denise Di Novi and Hunt Lowry for Warner Bros. Pictures. The novel's 1950s setting was changed to the 1990s to early 2000s for the film, as the producers were concerned it might not appeal to teenage audiences. The film was shot for 39 days in Wilmington, North Carolina, with many of the sets borrowed from the television series Dawson's Creek. The film, as with the book, is dedicated to Sparks' sister Danielle, whose cancer-afflicted life inspired the story.</p>
    </section>

    <section class="row no-gutters" id="euro-trip-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/guilty-pleasures/euro-trip.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Euro Trip</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />EuroTrip is a 2004 American sex comedy film directed by Jeff Schaffer and written by Alec Berg, David Mandel, and Schaffer. It stars Scott Mechlowicz, Jacob Pitts, Michelle Trachtenberg, Travis Wester, and Jessica Boehrs (in her film debut). Mechlowicz portrays Scott "Scotty" Thomas, an American teenager who travels across Europe in search of his German pen pal, Mieke (Boehrs). Accompanied by his friend Cooper (Pitts) and twin siblings Jenny and Jamie (Trachtenberg and Wester), Scott's quest takes him to London, Paris, Amsterdam, Bratislava, Berlin, and Rome, encountering awkward, humorous, and embarrassing situations along the way.</p>
    </section>

    <section class="row no-gutters" id="shes-all-that-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/guilty-pleasures/shes-all-that.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />She's All That</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />She's All That is a 1999 American teen romantic comedy film directed by Robert Iscove. It stars Freddie Prinze Jr., Rachael Leigh Cook, Paul Walker and Matthew Lillard. After being dumped by his girlfriend, Zack Siler boasts he could make any girl in school popular. It is a modern adaptation of George Bernard Shaw's play Pygmalion and George Cukor's 1964 film My Fair Lady.</p>
    </section>

    <section class="row no-gutters" id="step-up-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/guilty-pleasures/step-up.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Step Up 2: The Streets</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Step Up 2: The Streets is a 2008 American dance film directed by Jon M. Chu (in his feature directorial debut) and written by Toni Ann Johnson and Karen Barna. It serves as a sequel to 2006's Step Up and the second installment in the Step Up film series. The film stars Briana Evigan, Robert Hoffman, Will Kemp, and Cassie Ventura. Set at the fictional Maryland School of the Arts, the story revolves around rebellious street dancer Andie West (Evigan) who lands at the elite school and finds herself fighting to fit in while also trying to hold onto her old life. She eventually joins forces with the school's hottest dancer Chase Collins (Hoffman) to form a crew of classmate outcasts to compete in Baltimore's underground dance battle The Streets, finding a way to live her dream while building a bridge between her two separate worlds.</p>
    </section>

    <section class="row no-gutters" id="titanic-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/guilty-pleasures/titanic.png" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Titanic</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Titanic is a 1997 American epic romance and disaster film directed, written, co-produced, and co-edited by James Cameron. Incorporating both historical and fictionalized aspects, it is based on accounts of the sinking of the RMS Titanic, and stars Leonardo DiCaprio and Kate Winslet as members of different social classes who fall in love aboard the ship during its ill-fated maiden voyage.</p>
    </section>

    <div class="justify-content-center">
        <button type="button" class="btn btn-primary">Submit Vote</button>
    </div>
</main>