    <!-- hero section -->

    <section class="hero row no-gutters bg-light">
        <div class="col-2">

        </div>
        <div class="col-4 text-center">
            <h3 id="hero-headline">About Us:</h3>
            <p id="hero-textblock">Here at Pic-a-Flick, we strive to host a community of people who love movies and love sharing the movies they love with other movie lovers. Movies. Love. That's It.</p>
        </div>
        <div class="col-2">

        </div>
        <div class="col-4">
            <img src="/images/Logo.png">
        </div>
    </section>

    <!-- 5 genres -->
    <main id="main-content">
        <section class="genres row bk-dark" id="comedy">
            <div class="col-12 movie-boxes text-center" id="comedy-movies">
                <h2 class="col-12 topFive">Top 5 Comedies</h2>
                <a href="https://en.wikipedia.org/wiki/Anchorman:_The_Legend_of_Ron_Burgundy" target="_blank">
                    <img class="comedy-imgs" src="/images/comedies/anchorman.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/Coming_to_America" target="_blank">
                    <img class="comedy-imgs" src="/images/comedies/coming-to-america.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/I%27m_Gonna_Git_You_Sucka" target="_blank">
                    <img class="comedy-imgs" src="/images/comedies/get-you-sucka.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/O_Brother,_Where_Art_Thou%3F" target="_blank">
                    <img class="comedy-imgs" src="/images/comedies/o-brother.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/Scary_Movie" target="_blank">
                    <img class="comedy-imgs" src="/images/comedies/scary-movie.jpg">
                </a>
            </div>
        </section>

        <section class="genres row bk-dark" id="guilty">
            <div class="col-12 movie-boxes text-center" id="guilty-movies">
                <h2 class="col-12 topFive">Top 5 Guilty Pleasures</h2>
                <a href="https://en.wikipedia.org/wiki/A_Walk_to_Remember" target="_blank">
                    <img class="guilty-imgs" src="/images/guilty-pleasures/walk-to-remember.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/EuroTrip" target="_blank">
                    <img class="guilty-imgs" src="/images/guilty-pleasures/euro-trip.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/She%27s_All_That" target="_blank">
                    <img class="guilty-imgs" src="/images/guilty-pleasures/shes-all-that.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/Step_Up_2:_The_Streets" target="_blank">
                    <img class="guilty-imgs" src="/images/guilty-pleasures/step-up.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/Titanic_(1997_film)" target="_blank">
                    <img class="guilty-imgs" src="/images/guilty-pleasures/titanic.png">
                </a>
            </div>
        </section>

        <section class="genres row bk-dark" id="horror">
            <div class="col-12 movie-boxes text-center" id="horror-movies">
                <h2 class="col-12 topFive">Top 5 Horror Movies</h2>
                <a href="https://en.wikipedia.org/wiki/Friday_the_13th_(franchise)" target="_blank">
                    <img class="horror-imgs" src="/images/horror/friday.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/The_Cabin_in_the_Woods" target="_blank">
                    <img class="horror-imgs" src="/images/horror/cabin.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/The_Conjuring" target="_blank">
                    <img class="horror-imgs" src="/images/horror/conjuring.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/A_Nightmare_on_Elm_Street" target="_blank">
                    <img class="horror-imgs" src="/images/horror/nightmare.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/Pet_Sematary" target="_blank">
                    <img class="horror-imgs" src="/images/horror/pet-sematary.png">
                </a>
            </div>
        </section>

        <section class="genres row bk-dark" id="scifi">
            <div class="col-12 movie-boxes text-center" id="scifi-movies">
                <h2 class="col-12 topFive">Top 5 SciFi Movies</h2>
                <a href="https://en.wikipedia.org/wiki/Alien_(film)" target="_blank">
                    <img class="scifi-imgs" src="/images/scifi/alien.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/The_Empire_Strikes_Back" target="_blank">
                    <img class="scifi-imgs" src="/images/scifi/empire-strikes-back.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/E.T._the_Extra-Terrestrial" target="_blank">
                    <img class="scifi-imgs" src="/images/scifi/et.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/Men_in_Black_(1997_film)" target="_blank">
                    <img class="scifi-imgs" src="/images/scifi/men-in-black.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/Predator_(film)" target="_blank">
                    <img class="scifi-imgs" src="/images/scifi/predator.jpg">
                </a>
            </div>
        </section>

        <section class="genres row bk-dark" id="super-hero">
            <div class="col-12 movie-boxes text-center" id="super-hero-movies">
                <h2 class="col-12 topFive">Top 5 Super Hero Movies</h2>
                <a href="https://en.wikipedia.org/wiki/Black_Panther_(film)" target="_blank">
                    <img class="super-hero-imgs" src="/images/super-hero/black-panther.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/The_Dark_Knight_(film)" target="_blank">
                    <img class="super-hero-imgs" src="/images/super-hero/dark-knight.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/Iron_Man_(2008_film)" target="_blank">
                    <img class="super-hero-imgs" src="/images/super-hero/iron-man.jpg">
                </a>
                <a href="https://en.wikipedia.org/wiki/Spider-Man:_Into_the_Spider-Verse" target="_blank">
                    <img class="super-hero-imgs" src="/images/super-hero/spiderman.png">
                </a>
                <a href="https://en.wikipedia.org/wiki/Superman_(1978_film)" target="_blank">
                    <img class="super-hero-imgs" src="/images/super-hero/superman.jpg">
                </a>
            </div>
        </section>
    </main>
