<h1 class="text-center" id="genre-headline">TOP HORROR MOVIES EVER MADE (Listed Alphabetically. Also, Don't @ us)</h1>

<main class="genrePages">
    <section class="row no-gutters" id="cabin-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/horror/cabin.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Cabin in the Woods</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />The Cabin in the Woods is a 2011 American horror comedy film directed by Drew Goddard in his directorial debut, produced by Joss Whedon, and written by Whedon and Goddard. The film stars Kristen Connolly, Chris Hemsworth, Anna Hutchison, Fran Kranz, Jesse Williams, Richard Jenkins, and Bradley Whitford. The plot follows a group of college students who retreat to a remote forest cabin where they fall victim to backwoods zombies while technicians manipulate events from an underground facility.</p>
    </section>

    <section class="row no-gutters" id="conjuring-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/horror/conjuring.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />The Conjuring</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />The Conjuring is a 2013 American supernatural horror film directed by James Wan and written by Chad Hayes and Carey W. Hayes. It is the inaugural film in the Conjuring Universe franchise. Patrick Wilson and Vera Farmiga star as Ed and Lorraine Warren, paranormal investigators and authors associated with prominent cases of haunting. Their purportedly real-life reports inspired The Amityville Horror story and film franchise. The Warrens come to the assistance of the Perron family, who experienced increasingly disturbing events in their farmhouse in Rhode Island in 1971.</p>
    </section>

    <section class="row no-gutters" id="friday-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/horror/friday.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Friday, the 13th</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Friday the 13th is a 1980 American slasher film produced and directed by Sean S. Cunningham, written by Victor Miller, and starring Betsy Palmer, Adrienne King, Harry Crosby, Laurie Bartram, Mark Nelson, Jeannine Taylor, Robbi Morgan, and Kevin Bacon. Its plot follows a group of teenage camp counselors who are murdered one by one by an unknown killer while attempting to re-open an abandoned summer camp.</p>
    </section>

    <section class="row no-gutters" id="nightmare-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/horror/nightmare.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Nightmare on Elm Street</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />A Nightmare on Elm Street is a 1984 American supernatural slasher film written and directed by Wes Craven and produced by Robert Shaye. It is the first installment in the A Nightmare on Elm Street franchise and stars Heather Langenkamp, John Saxon, Ronee Blakley, Robert Englund as Freddy Krueger, and Johnny Depp in his film debut. The plot concerns four teenagers living on one street in the fictitious town of Springwood, Ohio, who are invaded and killed in their dreams, and thus killed in reality, by a burnt killer with a bladed leather glove.</p>
    </section>

    <section class="row no-gutters" id="pet-sematary-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/horror/pet-sematary.png" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="vote-label" for="flexRadioDefault1">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Pet Sematary</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Based on the seminal horror novel by Stephen King, Pet Sematary follows Dr. Louis Creed (Jason Clarke), who, after relocating with his wife Rachel (Amy Seimetz) and their two young children from Boston to rural Maine, discovers a mysterious burial ground hidden deep in the woods near the family's new home.</p>
    </section>

    <div class="justify-content-center">
        <button type="button" class="btn btn-primary">Submit Vote</button>
    </div>
</main>