<h1 class="text-center" id="genre-headline">TOP SCIFI MOVIES EVER MADE (Listed Alphabetically. Also, Don't @ us)</h1>

<main class="genrePages">
    <section class="row no-gutters movie-sections" id="alien-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/scifi/alien.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="choice" value="alien" id="choice-alien">
                <label class="vote-label" for="choice-alien">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Alien</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Alien is a 1979 science fiction horror film directed by Ridley Scott and written by Dan O'Bannon. Based on a story by O'Bannon and Ronald Shusett, it follows the crew of the commercial space tug Nostromo, who encounter the eponymous Alien, an aggressive and deadly extraterrestrial set loose on the ship. The film stars Tom Skerritt, Sigourney Weaver, Veronica Cartwright, Harry Dean Stanton, John Hurt, Ian Holm, and Yaphet Kotto.</p>
    </section>

    <section class="row no-gutters movie-sections" id="empire-strikes-back-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/scifi/empire-strikes-back.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="choice" value="empire-strikes-back" id="choice-empire-strikes-back">
                <label class="vote-label" for="choice-empire-strikes-back">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Star Wars V: The Empire Strikes Back</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />The Empire Strikes Back, also known as Star Wars: Episode V – The Empire Strikes Back, is a 1980 American epic space opera film directed by Irvin Kershner and written by Leigh Brackett and Lawrence Kasdan, based on a story by George Lucas. The second installment in the original Star Wars trilogy, as the sequel to Star Wars (1977), it is the second film in the franchise to be produced, and the fifth episode of the "Skywalker saga". The story is set three years after the events of the first film, as the Galactic Empire hunts the scattered Rebel Alliance throughout the galaxy. While Darth Vader relentlessly pursues Luke Skywalker's friends—Han Solo, Princess Leia, and Chewbacca—Luke studies the Force under Jedi Master Yoda to prepare himself for his upcoming confrontation with Vader.</p>
    </section>

    <section class="row no-gutters movie-sections" id="et-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/scifi/et.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="choice" value="et" id="choice-et">
                <label class="vote-label" for="choice-et">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />E.T.</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />E.T. the Extra-Terrestrial (also known simply as E.T.) is a 1982 American science fiction film produced and directed by Steven Spielberg, and written by Melissa Mathison. It tells the story of Elliott, a boy who befriends an extraterrestrial, dubbed E.T., who is stranded on Earth. The film stars Dee Wallace, Henry Thomas, Peter Coyote, Robert MacNaughton, and Drew Barrymore. The concept was based on an imaginary friend Spielberg created after his parents' divorce. In 1980, Spielberg met Mathison and developed a new story from the failed project Night Skies. Filming took place from September to December 1981 on a budget of $10.5 million. Unlike most films, it was shot in rough chronological order, to facilitate convincing emotional performances from the young cast. The animatronics of E.T. were designed by Carlo Rambaldi.</p>
    </section>

    <section class="row no-gutters movie-sections" id="men-in-black-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/scifi/men-in-black.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="choice" value="men-in-black" id="choice-men-in-black">
                <label class="vote-label" for="choice-men-in-black">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Men in Black</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Men in Black (stylized as MIB: Men in Black) is a 1997 American science fiction action comedy film directed by Barry Sonnenfeld, produced by Walter F. Parkes and Laurie MacDonald and written by Ed Solomon. Loosely based on The Men in Black comic book series created by Lowell Cunningham and Sandy Carruthers, the film stars Tommy Lee Jones and Will Smith as two agents of a secret organization called the Men in black, who supervise extraterrestrial lifeforms who live on Earth and hide their existence from ordinary humans. The film featured the creature effects and makeup of Rick Baker and visual effects by Industrial Light & Magic.</p>
    </section>

    <section class="row no-gutters movie-sections" id="predator-section">
        <div class="col-1"></div>
        <img class="col-3" src="../images/scifi/predator.jpg" />
        <div class="col-1">
                <input class="vote-input" type="radio" name="choice" value="predator" id="choice-predator">
                <label class="vote-label" for="choice-predator">
                    Vote
                </label>
        </div>
        <h2 class="col-3">Title:<br /><br />Predator</h2>
        <div class="col-1"></div>
        <p class="col-3">Description:<br /><br />Predator is a 1987 American science fiction action film directed by John McTiernan and written by brothers Jim and John Thomas. It is the first installment in the Predator franchise. It stars Arnold Schwarzenegger as the leader of an elite paramilitary rescue team on a mission to save hostages in guerrilla-held territory in a Central American rainforest, who encounter the deadly Predator (Kevin Peter Hall), a technologically advanced alien who stalks and hunts them down.</p>
    </section>

    <div class="justify-content-center">
        <button type="button" class="btn btn-primary vote.btn">Submit Vote</button>
    </div>
</main>