* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
}

/* nav bar */

header {
    padding: 10px;
    background-color: rgba(0, 0, 0);
    border-bottom: 2px solid white;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    padding: 10px;
    font-size: 36px;
    color: rgba(100, 60, 160);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: rgba(100, 60, 160);
}

header a:hover {
    text-decoration: none;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    text-decoration: none;
    color: white;
    border-bottom: 3px solid rgba(100, 60, 160);
    text-shadow: none;
}

.btn-no-style {
    text-decoration: none;
    color: rgba(100, 60, 160);
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.btn-no-style:hover {
        text-decoration: none;
        color: white;
}

/* hero */

.hero {
    border: solid 1px rgba(0, 0, 0);
}

#hero-headline {
    color: rgba(100, 60, 160);
    font-weight: bold;
    border-bottom: solid 3px rgba(100, 60, 160);
}

#hero-textblock {
    color: rgba(0, 0, 0);
}

/* main body */

.topFive {
    justify-content: center;
    color:rgba(100, 60, 160);
    border-bottom: solid 3px white;
}

main section div a:hover {
    border:solid 4px rgba(100, 60, 160);
}

.movie-boxes {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 2 2 2;
    background-color: rgba(0, 0, 0);
}

footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    border-top: 2px inset white;
  }
